#slides>div{
    background-size: 100% 100%;
  }
  .slide{grid-template-columns:repeat(5,1fr);grid-auto-rows:33.333333%
  }
  .slide > div{background:white;opacity:0.7;}
  .boxWhite{animation:hiddenDiv 0s 1 forwards 0s}
  
  @keyframes hiddenDiv{
    
    from{opacity:1}
    to{opacity:0}
          
     }#slides > div {opacity:0}
  .slide{animation:slideAnimate 0s 1 forwards 0s;}
    @keyframes slideAnimate{
    
    from{opacity:0}
    to{opacity:1}
    }
    #controls > span:hover  {
    cursor:pointer;
   /*transform:scale(1.5,1.5);*/
    color:#000;
    }
       #dots > span:hover{
    cursor:pointer;
    background:#202020;
    }
    
    .textSlide{  background: rgba(200, 200, 200, 0.6) !important;
    animation:textSlideAnimation 1s 1 forwards 1s}
    @keyframes textSlideAnimation{
    to{opacity:1 ;top:15% ;}
    
    }
    nav img{background: 100%;height: 100%;object-fit: cover;opacity: .4;}